@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chromate";
  src: url("/font/Chromate-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

h1,
h3,
.font-chromate {
  font-family: "Chromate", sans-serif;
}

body {
  overflow-x: hidden;
}

.images {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wrapper {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  /* height: 250px; */
  max-width: 600px;
}

.badge-container img {
  display: inline;
  margin-right: 8px;
  border-radius: 15px;
}

#projects-container {
  background-image: url("/Grad_02.png");
  background-size: contain;
  background-position: top;
}

#tech-stack {
  background-image: url("/Grad_10.png");
  background-size: contain;
  background-position: top;
}

#contact {
  background-image: url("/Grad_05.png");
  background-size: contain;
  background-position: top;
  background-repeat: repeat-y;
}
