@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chromate";
  src: url("/font/Chromate-Regular.ttf") format("truetype");
}

h1,
h3,
.font-chromate {
  font-family: "Chromate", sans-serif;
}

body {
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

.images {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wrapper {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  /* height: 250px; */
  width: 600px;
}

.badge-container img {
  display: inline;
  margin-right: 8px;
}
