@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chromate";
  src: url("/font/Chromate-Regular.ttf") format("truetype");
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

h1 {
  font-family: "Chromate", sans-serif;
}

body {
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

.images {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
